*{
    margin: 0;
    padding: 0;
}
body{
    /* margin: 0; */
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* nav style start here */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    min-height: 130px;
}
.logo-text{
    text-align: center;
    font-family: Work Sans;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.special-font{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.left-nav{
    display: flex;
    /* margin-top: 20px; */
    align-items: center;
    gap: 10px;
}
.about-nav{
    display: flex;
    gap: 32px;
}
.about-nav li{
    list-style: none;
}
.about-nav li>a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.right-nav{
    display: flex;
    gap: 32px;
    align-items: center;
    /* margin-top: 30px; */
}
.follow-nav{
    width: 262px;
    height: 56px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 24px;
}
.fa-youtube{
    color: red;
    width: 33.916px;
    height: 24px;
    margin-left: 10px;
    margin-top: 10px;
}
.fa-tiktok{
    width: 33.916px;
    height: 24px;
    margin-top: 10px;
}
/* banner section style start here */
.banner-container{
    margin-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
}
.bannerImages-container{
    width: 50%;
}
.banner-container img{
    width: 100%;
}
.bannerText-container{
    padding-top: 120px;
    width: 50%;
    /* background-image: url('./images/Group\ 14.png'); */
}
.bannerText-container p{
    color: #534C64;
    text-align: start;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    text-transform: lowercase;
    
}
.banner-header{
    /* text-align: center; */
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button-container{
    margin-top: 30px;
}
.button-pink{
    margin-right: 20px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;

}
.button-blue{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    color: #FFF;
    border-radius: 48px;
    background: #4EC5F7;
    font-family: Work Sans;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}
/* Banner style ends here */
/* Gamer Section style start here */
.gamer-container{
    display: flex;
    width: auto;
    align-items: center;
    gap: 50px;
    padding-left: 200px;
    padding-right: 200px;
}
.gamerImage-container{
    width: 50%;
}
.gamerImage-container img{
    width: 100%;
}
.gamerText-container{
    width: 50%;
    text-align: right;
    margin-top: 50px;
}
.colorful-header{
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamerText-container p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.quote{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}
/* Online Games Container style start here */
.onlineGames-container{
    margin-top: 50px;
}
.onlineGames-container h2{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.onlineGamesCart-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 24px;
}
.onlineGames-container p{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 1.1em;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.single-cart{
    position: relative;

}
.single-cart p{
    text-align: center;
    font-size: 15px;
}
.hover-text{
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 342px;
    height: 400px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    background: linear-gradient(rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), lightgray 70% ;
    transition: 0.2s 0.1s;
}
/* / cover no-repeat 
     url(<path-to-image>),
*/

.hover-text h2{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.image-down:hover + .hover-text{
    visibility: visible;
}
.watch-button{
    /* width: 48px; */
    color: #FFF;
}
/* Instant Play Container style Start here */
.instantPlay-container{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 50px;
    
}
.instant-text-container{
    width: 50%;
    justify-content: center;
    align-items: center;

}
.instant-image-container{
    width: 50%;
    position:relative;
}
.inner-image{
    position: absolute;
    top: 360px;
    right: 400px;
    z-index: 2;
}
/* Responsive Media Query */
@media screen and (max-width:576px) {
    .nav-container{
        margin-top: 100px;
        
    }
    .nav-container, .right-nav, .about-nav, .onlineGamesCart-container, .instantPlay-container{
        flex-direction: column;
    }
    .nav-container{
        padding: 0;
        padding-bottom: 50px;
    }
    .left-nav{
        padding: 0;
    }
    .about-nav{
        margin-top: 62px;
    }
    .banner-container {
        flex-direction: column-reverse;
        width: 80%;
        margin-left: 0;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .bannerText-container, .bannerImages-container{
        width: 100%;
    }
    .bannerText-container p{
        font-size: 15px;
    }
    .button-container{
        display: flex;
    }
    .button-pink{
        width: auto;
        height: 60px;
        font-size: 15px;
   
    }
    .button-blue{
        width: auto;
        height: 60px;
        font-size: 15px;
    }
    .banner-header{
        font-size: 5em;
    }
    .gamer-container{
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 50px;
        align-items: center;
    }
    .gamerText-container, .gamerImage-container{
        width: 90%;
    }
    .gamerText-container{
        margin-top: 20px;
        text-align: center;
    }
    .onlineGames-container h2, .colorful-header {
        font-size: 25px;
    }
    .onlineGames-container p{
        font-size: 12px;
    }
    .single-cart{
        align-items: center;
        margin-left: 40px;
    }
    .instantPlay-container{
        width: auto;
        padding-right: 0;
        padding-left: 0;
    }
    .instant-image-container, .instant-text-container{
        margin-top: 50px;
        width: 90%;
    }
    .instantPlay-container{
        width: auto;
        padding: 20px;

    }
    .instant-image-container{
        width: 100%;
    }
    .main-image img{
        width: 100%;
    }
    .instant-text-container{
        width: 100%;
    }
    .inner-image{
        /* width: 80%; */
        position: absolute;
        top: 300px;
        right: 150px;
        z-index: 2;
    }
    .inner-image img{
        width: 60%;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container, .instantPlay-container{
        flex-direction: column;
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .banner-container {
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 0;
        align-items: center;
        padding: 0;
        
    }
    .gamer-container{
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        align-items: center;
        padding: 0;
        text-align: center;
    }
    .gamerText-container{
        text-align: center;
       
    }
    .onlineGamesCart-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;

    }
    .instantPlay-container{
        width: auto;
        /* padding-right: 0; */
        /* padding-left: 10; */

    }
    .instant-image-container{
        width: 100%;
    }
    .main-image img{
        width: 100%;
    }
    .instant-text-container{
        width: 100%;
    }
    .inner-image{
        /* width: 80%; */
        position: absolute;
        top: 220px;
        right: 150px;
        z-index: 2;
    }
    .inner-image img{
        width: 100%;
    }
}